@import url('https: //fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 250px;
    background: #032126;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo-mercado {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

nav .active a, nav a:hover, .dropdown:hover .dropbtn {
    background-color: #C8FF00;
    color: #000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #06363f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.card {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    gap: 10px;
}
.card .box {
    padding: 20px;
    display: grid;
    font-size: 30px;
    align-content: center;
    place-items: center;
    text-align: center;
    transition: 0.5s;
}
.card .box .foto {
    border-radius: 100px;
    position: relative;
    max-width: 200px;
    margin-bottom: 10px;
}
.card .logo {
    padding: 5px;
    margin: auto;
    width: 60px;
}
.card p{
    padding: 5px;
}
.card .box:hover {
    border: #229b5e solid;
    border-radius: 30px;
}